$spacing-unit: 30px;
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}
h1, h2, h3 {
  margin-top: $spacing-unit;
}
.highlighter-rouge {
   margin-bottom: $spacing-unit;
}

.navbar-brand {
  height: 70px;
  margin: 0;
  padding: 15px 0;
}

.navbar-default {
  background-color: rgba(255,255,255,1);
  border-radius: 0;
  border: 0;
}

.navbar {
  margin-bottom: 0;
  z-index: 1;
}

.hero {
  margin-bottom: 45px;
}

footer {
  margin-top: 100px;
}

#bkg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bkg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

@media (min-width: 768px) {
  .main {
    background-color: rgba(255,255,255,.95);
    padding: 15px 30px;
  }
  .title {
    z-index: 1;
    padding: 50px;
    h1 {
      font-size: 46px;
      letter-spacing: .3em;
      padding: .5em 1em;
      display: inline-block;
      background-color: #F1C400;
      color: #01175B;
      font-weight: 600;
    }
    h2 {
      margin-top: 0;
    }
    h2 small {
      color: white;
      font-weight: 600;
      letter-spacing: .2em;
      background-color: rgba(0,0,0,.3);
      padding: 5px;
    }
  }
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  margin-bottom: 15px;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.blog-tags-list a { white-space: nowrap; }

a .fa-facebook, a .fa-twitter, a .fa-google, a .fa-linkedin, a .fa-reddit-alien {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 48px;
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  margin: 0;
  color: white !important;
}

a .fa-facebook { background-color: rgb(59, 89, 152); }

a .fa-twitter { background-color: rgb(29, 161, 242); }

a .fa-google { background-color: rgb(66, 133, 244); }

a .fa-reddit-alien { background-color: rgb(255, 87, 0);; }

a .fa-linkedin { background-color: rgb(0, 119, 181); }

#social-share { text-align: center; }

@media (min-width: 768px) {
  #social-share {
    position: absolute;
    top: 0;
    left: -48px;
  }
}