---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header class="text-center">
    <h1 itemprop="name headline">{{ page.title }}<small>{% if page.author %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</small></h1>
    <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time></p>
    <hr>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

</article>